<div class="train">
  <div class="main container" *ngIf="isTrainMode()">
    <div>
      <input type="file" (change)="onFileSelect($event.target)" name="myfile" />
    </div>
    <div
      *ngIf="tableRows && !modelFinishedTraining"
      (click)="train()"
      class="train-button"
    >
      Train Model!
    </div>
  </div>

  <div class="data container">
    <div *ngFor="let dt of tableRows; let i = index">
      <div class="trainingImages">
        <img width="224" height="224" src="{{ dt.ImageSrc }}" [attr.id]="i" />
        <h5 class="info_on_img_left">Img Id: {{ i }}</h5>
        <h5 class="info_on_img_rigth">{{ dt.Class }}</h5>
      </div>
    </div>
  </div>
</div>

<div class="infer" *ngIf="isInferMode()">
  <div (click)="infer()" class="train-button">
    Infer
  </div>
</div>
