@mixin container {
  display: flex;
  flex-wrap: wrap;
}

.main {
  @include container;
  padding: 1em;
  align-items: center;
  .train-button {
    margin: 0.5em;
    padding: 0.5em 1em;
    background-color: pink;
    cursor: pointer;
    border: solid 1px red;
  }
}

.data {
  @include container;
  .trainingImages {
    position: relative;
    margin-right: 1em;
  }

  .info_on_img_left {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 0px !important;
    color: white !important;
    background-color: green;
    padding: 2px;
  }

  .info_on_img_rigth {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 0px !important;
    color: white !important;
    background-color: green;
    padding: 2px;
  }
}
